<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actions Component's page</title>

</head>

<body>
    <div class="component-container">
        <ul class="c-actions">
            <li class="c-action">
                <span class="c-action__title">10 orders need processing</span>
                <a href="#" class="c-btn c-action__link">View orders</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">5 messages need a replay</span>
                <a href="#" class="c-btn c-action__link">View messages </a>
            </li>
            <li class="c-action">
                <span class="c-action__title">3 essential items are about to run out</span>
                <a href="#" class="c-btn c-action__link">View products </a>
            </li>
        </ul>
        <ul class="c-actions c-actions--oneline">
            <li class="c-action">
                <span class="c-action__title">10 orders need processing</span>
                <a href="#" class="c-btn c-action__link">View orders</a>
            </li>
            <li class="c-action">
                <span class="c-action__title">5 messages need a replay</span>
                <a href="#" class="c-btn c-action__link">View messages </a>
            </li>
            <li class="c-action">
                <span class="c-action__title">3 essential items are about to run out</span>
                <a href="#" class="c-btn c-action__link">View products </a>
            </li>
        </ul>
    </div>
</body>

</html>