<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card Component's page</title>

</head>

<body>
    <div class="component-container">
        <div class="c-card">
            <h3 class="c-card__title">Shipping information </h3>
            <a href="#" class="c-btn c-btn--primary c-card__action">Link shipping information </a>
            <p class="c-card__desc">Lorem Ipsum is a hypothetical model placed in designs to be presented to the client to visualize the way texts are placed in designs, whether they are printed designs ... brochures or flyers for example ... or website templates ...</p>
        </div>
        <div class="c-card c-card--no-description">
            <h3 class="c-card__title">Shipping information </h3>
            <a href="#" class="c-btn c-btn--primary c-card__action">Link shipping information </a>
        </div>
        <div class="c-card c-card--no-action">
            <h3 class="c-card__title">Shipping information </h3>
            <p class="c-card__desc">Lorem Ipsum is a hypothetical model placed in designs to be presented to the client to visualize the way texts are placed in designs, whether they are printed designs ... brochures or flyers for example ... or website templates ...</p>
        </div>
    </div>
</body>

</html>