<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list Component's page</title>

</head>

<body>
    <div class="component-container">
        <div class="c-list">
            <img src="../assets/images/black-shirt.jpg" alt="" class="c-list__media">
            <span class="c-list__data">
                Black shirt M
                </span>
            <span class="c-list__data">
Ali Jaber
            </span>
            <span class="c-list__data">
Göttingen, Niedersachsen
            </span>
            <span class="c-list__data">
19.99€
            </span>
            <div class="c-list_actions">
                <a href="#" class="c-btn c-btn--small c-btn--primary">Shipped</a>
                <a href="#" class="c-btn c-btn--small">Contact</a>
                <a href="#" class="c-btn c-btn--small c-btn--destructive">Delete order</a>
            </div>
        </div>
    </div>
</body>

</html>